&
  background-color $widget-background-color
  border-radius ($gutter-size / 4)
  border $widget-border
  box-shadow $widget-box-shadow
  color $widget-body-text-color
  overflow hidden
  padding $widget-padding

.grid-stack-item-content
  width 100%
  height 100%
  padding $widget-container-padding
  position static !important

  > .content
    padding $widget-content-padding

.widget-error
  color $brand-warning
  opacity 0.3
  text-align center

  .disabled
    font-size 4em

  .error
    font-size 8em

.spinner
  display block
  margin 0 auto

h2
  background-color $widget-title-background-color
  color $widget-title-color
  font-size $widget-title-font-size
  line-height $widget-title-font-size
  margin $widget-title-margin
  overflow: hidden
  padding $widget-title-padding
  text-transform uppercase
  text-overflow: ellipsis
  white-space: nowrap

